{% extends '_main.html' %}
{% load static %}
{% block content %}
    <div class="conteudo">
        <h3>Novas postagens</h3>
        <div class="cards">
            {% for b in blogs %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ b.blo_image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ b.blo_title }}</h5>
                      <p class="card-text">{{ b.blo_subtitle }}</p>
                      <a href="{% url 'blog_single' b.slug %}" class="btn btn-primary">Ler mais</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}