{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulier Lepidus</title>
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="cabecalho">
        <h1>Mulier Lepidus</h1>
        <h2>Para mulheres encantadoras</h2>
    </div>
    {% include '_header.html' %}
    <div class="conteudo">
        <h3>Quer entrar em contato?</h3>
    </div>
    {% include '_footer.html' %}
</body>
<script type="text/javascript" src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</html>