{% extends '_main.html' %}
{% load static %}
{% block content %}
    <div class="conteudo">
        <h3>Quer entrar em contato?</h3>
        <p>
            Na Mulier Lepidus, a sua opinião e satisfação são extremamente importantes para nós. Estamos sempre aqui para ajudar e adoraríamos ouvir de você! Se você tiver alguma dúvida, sugestão ou simplesmente quiser dizer "oi", entre em contato conosco através dos seguintes canais:
        </p>
        <p>
            Telefone: (XX) XXXX-XXXX<br>E-mail: contato@mulierlepidus.com.br<br>Endereço: Rua da Moda, 123, Centro, Cidade, Estado, CEP 00000-000
        </p>
        <p>
            Com amor, <br>
            Equipe Mulier Lepidus
        </p>

    </div>
{% endblock %}