{% extends '_main.html' %} {% load static %} {% block content %}
<div class="conteudo">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/1.png' %}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/2.png' %}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/3.png' %}" class="d-block w-100" alt="..." />
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/4.png' %}" class="d-block w-100" alt="..." />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="cards">
        {% for p in products %}
        <div class="card" style="width: 18rem">
            <img src="{{p.photo.url}}" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">{{ p }}</h5>
                <p class="card-text">R$ {{ p.price }}</p>
                <a href="{% url 'produto_single' p.id %}" class="btn btn-primary">Comprar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}