{% extends '_main.html' %}
{% load static %}
{% block content %}
    <div class="conteudo">
        <h3>
            {{ product.name }}
        </h3>
        <p>
            <div class="imagecenter">
                <img src="{{product.photo.url}}" alt="{{product.photo}}">
            </div>
        </p>
        <p>
            R$ {{ product.price|floatformat:2 }} | Estoque: {{ product.stock }} | Categoria: {{ product.pro_category}}
        </p>
        <p>
            Descrição: {{ product.descript }}
        </p>
    </div>
{% endblock %}