{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mulier Lepidus</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Mulier Lepidus</h1>
    <h2>Para mulheres encantadoras</h2>
    <nav>
        <ul>
            {% for cabecalho in cabecalhos %}
            <li>
                <a class='' href={{cabecalho.link}}>{{cabecalho.name}}</a>
            </li>
            {% endfor %} 
        </ul>
    </nav>
    <div class="conteudo">
        <h3>Um pouco Sobre nós</h3>
        <img src="{% static 'img/logo.png' %}" alt="logo">
        <p>
            {{sobre1}}
        </p>
        <p>
            {{sobre2}}
        </p>
        <p>
            {{sobre3}}
        </p>
    </div>
</body>
</html>