{% extends '_main.html' %}
{% load static %}
{% block content %}
    <div class="conteudo">
        <h3>Gadgets</h3>
        <div class="categorias_tec">
            Pesquisar por Categoria
            <div class="color_category">
                <ul>
                    {% for c in cattecs %}
                    <li>
                        <a href="{% url 'categoria_tec' c.cattec_name %}">{{c.cattec_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p> 
            Todas as Categorias
        </p>
        <div class="cards">
            {% for t in tecs %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ t.tec_image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ t.tec_name }}</h5>
                      <p class="card-text">{{ t.tec_category }}</p>
                      <a href="{% url 'tecnologia_single' t.tec_category t.slug %}" class="btn btn-primary">Ler mais</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}