*{
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url('20240711_212307_0000.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #F6E6CF;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 2% 2% 0 2%;
}

h2 {
    color: #F6E6CF;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0% 2% 2% 2%;
}

h3 {
    padding: 5% 5% 0 5%;
    font-size: 25px;
    color: #171003;
    text-align: center;
    margin: 0 0 2% 0;
}
ul{
    margin: none;
    padding: none;
    text-decoration: none !important;
}
li{
    text-decoration: none !important;
    margin: none;
    padding: none;
}
nav ul li {
    display: flex;
    margin: 0% 5%;
    padding: 2%;
    text-decoration: none !important;
}

.conteudo {
    background-color: #F6F4EE;
    margin: 0 3%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p {
    font-size: 20px;
    color: #171003 !important;
    padding: 2%;
    text-align: justify;
    margin: 0;
}

img {
    width: auto !important;
    object-fit: cover;
    max-width: 100% !important;
    height: auto !important;
}

a {
    font-size: 22px !important;
    color: #F6F4EE !important;
    text-decoration: none !important;
    padding: 1% !important;
}
.categorias_tec{
    background-color: #eb9090 !important;
    margin: 0 !important;
    padding: 0.5% !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    font-size: 25px;
    text-decoration: none !important;
}

.imagecenter {
    display: inline-block !important;
    margin: 2% !important;
    padding: 0 10% !important;
}

.cabecalho {
    background-color: #eb9090 !important;
    margin: 0 !important;
    padding: 0.5% !important;
    justify-content: center !important;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.card-text {
    text-align: center;
}

.btn-primary {
    padding: 0 0.5%;
    --bs-btn-bg: #eb9090;
    --bs-btn-border-color: #eb9090;
    --bs-btn-hover-bg: #eb9090;
    --bs-btn-hover-border-color: #eb9090;
    --bs-btn-active-bg: #eb9090;
    --bs-btn-active-border-color: #eb9090;
    --bs-btn-disabled-bg: #eb9090;
    --bs-btn-disabled-border-color: #eb9090;
}

.bg-body-tertiary {
    background-color: #E7B1AA !important;
}

.navbar-brand {
    margin: 0;
}

.mx-auto {
    justify-content: center;
}

.footer {
    background-color: #eb9090;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-copy {
    color: #F6F4EE;
    font-size: 20px;
    padding: 2%;
}

.subititulo {
    font-size: 20px;
}