body{
    background-color: #eb9090;
    margin: 0;
}
h1{
    color: #F6E6CF;
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin: 2% 2% 0 2%;
}
h2{
    color: #F6E6CF;
    display: flex;
    justify-content: center;
    font-size: 150%;
    margin: 0% 2% 2% 2%;
}
h3{
    padding: 5%;
    font-size: 200%;
    color:#171003;
    text-align: center;
}
nav{
    background-color: #E7B1AA;
}
nav ul{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5%;
}
nav ul li{
    display: flex;
    margin: 0% 2% 0 2%;
    text-decoration: none;
}
.conteudo{
    background-color: #F6F4EE;
    margin: 0 3% 0 3%;
    justify-content: center;
}
p{
    font-size: 150%;
    color:#171003;
    padding: 2%;
    text-align: justify;
}
img{
    padding: 0 20% 0 20%;
    justify-content: center;
}